---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.foot-sitemap {
  margin-top: 0px;
  border-top: 1px solid #ddd;
  border-bottom: 0px;
  font-size: 80%;
  color: #606060;
}


.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  text-align: center;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.r-tag-mark{
	font-size: 85%;
	padding: 0 .5rem 0 .5rem;
	border-radius: 5px;
	background: #ffe8a1;
	color: #733d04;
	font-variant-caps: all-petite-caps;
	font-weight: bolder;
}

.r-tag-mark:before {
   content: "🏷️ "; /* emoji */
   /* content: "🏷 "; /* not-emoji*/
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


/**
*** Primary color:

   shade 0 = #FFE8A1 = rgb(255,232,161) = rgba(255,232,161,1) = rgb0(1,0.91,0.631)
   shade 1 = #FFF8E3 = rgb(255,248,227) = rgba(255,248,227,1) = rgb0(1,0.973,0.89)
   shade 2 = #FFF1C5 = rgb(255,241,197) = rgba(255,241,197,1) = rgb0(1,0.945,0.773)
   shade 3 = #D8BC67 = rgb(216,188,103) = rgba(216,188,103,1) = rgb0(0.847,0.737,0.404)
   shade 4 = #AE9137 = rgb(174,145, 55) = rgba(174,145, 55,1) = rgb0(0.682,0.569,0.216)

*** Secondary color (1):

   shade 0 = #62989A = rgb( 98,152,154) = rgba( 98,152,154,1) = rgb0(0.384,0.596,0.604)
   shade 1 = #CBE3E4 = rgb(203,227,228) = rgba(203,227,228,1) = rgb0(0.796,0.89,0.894)
   shade 2 = #96C1C3 = rgb(150,193,195) = rgba(150,193,195,1) = rgb0(0.588,0.757,0.765)
   shade 3 = #3F7F82 = rgb( 63,127,130) = rgba( 63,127,130,1) = rgb0(0.247,0.498,0.51)
   shade 4 = #226669 = rgb( 34,102,105) = rgba( 34,102,105,1) = rgb0(0.133,0.4,0.412)

*** Secondary color (2):

   shade 0 = #966FAA = rgb(150,111,170) = rgba(150,111,170,1) = rgb0(0.588,0.435,0.667)
   shade 1 = #E0D0E8 = rgb(224,208,232) = rgba(224,208,232,1) = rgb0(0.878,0.816,0.91)
   shade 2 = #BDA0CC = rgb(189,160,204) = rgba(189,160,204,1) = rgb0(0.741,0.627,0.8)
   shade 3 = #784890 = rgb(120, 72,144) = rgba(120, 72,144,1) = rgb0(0.471,0.282,0.565)
   shade 4 = #5B2974 = rgb( 91, 41,116) = rgba( 91, 41,116,1) = rgb0(0.357,0.161,0.455)

*** Complement color:

   shade 0 = #7B7AB2 = rgb(123,122,178) = rgba(123,122,178,1) = rgb0(0.482,0.478,0.698)
   shade 1 = #D5D5EA = rgb(213,213,234) = rgba(213,213,234,1) = rgb0(0.835,0.835,0.918)
   shade 2 = #A9A8D1 = rgb(169,168,209) = rgba(169,168,209,1) = rgb0(0.663,0.659,0.82)
   shade 3 = #555397 = rgb( 85, 83,151) = rgba( 85, 83,151,1) = rgb0(0.333,0.325,0.592)
   shade 4 = #34337A = rgb( 52, 51,122) = rgba( 52, 51,122,1) = rgb0(0.204,0.2,0.478)


#####  Generated by Paletton.com (c) 2002-2014
**/