
/************/
/* CV RULES */
/************/

.CV-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  line-height: normal;
  gap: 1px 1px;
  grid-template-areas:
    "CV-TITLE CV-TITLE CV-TITLE CV-TITLE CV-TITLE"
	"CV-SEP CV-SEP CV-SEP CV-SEP CV-SEP"
    "CV-INTRO-PHOTO CV-INTRO-TEXT CV-INTRO-TEXT CV-INTRO-TEXT CV-INTRO-TEXT"
	"CV-SEP1 CV-SEP1 CV-SEP1 CV-SEP1 CV-SEP1"
    "CV-BOT-MAIN CV-BOT-MAIN CV-BOT-MAIN CV-BOT-MAIN CV-BOT-MAIN";
	padding-left: 5px;
	
}

.CV-TITLE { 
	grid-area: CV-TITLE;
 }
 
 .CV-SEP {
	grid-area: CV-SEP;
	border-bottom: 2px solid $color1;
 }
 
  .CV-SEP1 {
	grid-area: CV-SEP1;
	border-bottom: 2px solid $color1;
 }
 
.CV-TITLE-NAME { 
	font-size:	x-large;
	font-weight:  bold;
	font-variant:  small-caps;
	color: $color2;
 }
 
 .CV-TITLE-SUBT { 
	font-size:	large;
	font-style: italic;
 }
 
 
.CV-INTRO-PHOTO { 
	grid-area: CV-INTRO-PHOTO;
	padding: 1px 1px 1px 1px;
	margin: auto;
	width: 100%;
    height: auto;
 }

.CV-INTRO-TEXT { 
	grid-area: CV-INTRO-TEXT;
	padding: 3px 3px 3px 3px;
	margin: auto;
 }

.CV-BOT-MAIN { 
	grid-area: CV-BOT-MAIN;
 }
 
.CV-BOT-MAIN-SECT{
	
}

.CV-BOT-MAIN-SECT-TITLE{
	font-size: xx-large;
	font-weight: bold;
	font-variant:  small-caps;
	color: $color5;
	border-bottom: 2px dotted $color5;
	
}
 
.CV-BOT-MAIN-SECT-ITEM {
	display: grid;
	grid-template-columns: 0.3fr 6fr 1fr;
	padding-top: 5px;

}

.CV-BOT-MAIN-SECT-ITEM-NAME {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	color: #004f2dff;
	font-weight: bold;
	font-size: normal;
	text-align: left;
	padding-bottom: 5px;
	margin-left: 1.5%;
}

.CV-BOT-MAIN-SECT-ITEM-WORK, .CV-BOT-MAIN-SECT-ITEM-UNIV {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;
}

.CV-BOT-MAIN-SECT-ITEM-WORK:before {
	content: "💼 ";
}

.CV-BOT-MAIN-SECT-ITEM-UNIV:before {
	content: "🎓 ";
}

.CV-BOT-MAIN-SECT-ITEM-DATE {
	grid-column: 2 / 3;
	grid-row: 3 / 4;

}
.CV-BOT-MAIN-SECT-ITEM-DATE:before {
	content: "📅 "; 
   
}

.CV-BOT-MAIN-SECT-ITEM-TOWN {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	grid-area: "CV-BOT-MAIN-SECT-ITEM-TOWN";

}

.CV-BOT-MAIN-SECT-ITEM-TOWN:before {
	content: "🗺️ "; 
   
}

.CV-BOT-MAIN-SECT-ITEM-LOGO {
	grid-column: 3 / 4;
	grid-row: 1 / 5;
	width: 100%;
	height: auto;
	float: right;
}

/* img.CV-LOGO {
  border:none !important; 
} */

.CV-BOT-MAIN-SECT-ITEM-DESC {
	grid-column: 2 / 4;
	grid-row: 5 / 6;
	padding: 0px 10px 0px 0px;
}


.CV-BOT-INFO {
	display: grid;
	grid-template-columns: 2fr 1.5fr 1.5fr;
}

.CV-BOT-INFO-MAIN {
	display: flex;
}

.CV-BOT-INFO-LANG {
	grid-column: 1 / 2;
}

.CV-BOT-INFO-TITL {
	font-weight: bold;
}

.CV-BOT-INFO-LANG-ITEM {
	display: grid;
	grid-template-rows: 2fr auto;
	padding: 1px 1px 1px 1px;
}
  


img.CV-ICON {
  border:none !important; 
}

.CV-BOT-INFO-LANG-ITEM-ICON {
	grid-row: 1 / 2;
	max-height: 95%;
	padding: 1px 1px 1px 1px;
	align-self: center;
}



.CV-BOT-INFO-LANG-ITEM-DESC {
	grid-row: 2 / 3;
	align-self: center;
	text-align: center;

}

.CV-BOT-INFO-DRLI {
	grid-column: 3 / 4;
}

.CV-BOT-INFO-DRLI-ITEM {
	display: flex;

}
.CV-BOT-INFO-DRLI-ITEM-ICON {
	max-height: 95%;
	align-self: center;
	max-height: 50px;
}

.CV-BOT-INFO-HOBB {
	grid-column: 2 / 3;
}

.CV-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $color4;
}

.CV-tooltip .CV-tiptext {
	font-size: medium;
    visibility: hidden;
    width: 400px;
    background-color: $color4;
    color: $color1;
    text-align: left;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
/*
.CV-tooltip .CV-tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
*/
.CV-tooltip:hover .CV-tiptext {
    visibility: visible;
}


@media only screen and (max-width: 600px) {
	.CV-BOT-MAIN-SECT-ITEM-DESC {
		display: none;
	}
}


