
//
// VARIABLES
//

// https://coolors.co/EF7536-e53d00-8ea604-420039-241623

// Colors
$color0: #f1dcbaff;
$color1: #EF7536ff;
$color2: #e53d00ff;
$color3: #8ea604ff;
$color4: #420039ff;
$color5: #241623ff;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}