
//
// VARIABLES
//

// https://coolors.co/f8c537-443226-bf4e30-004f2d-0d1f22

// Colors
//$color0: #f1dcbaff;
//$color1: #F9B370ff;
//$color2: #e53d00ff;
//$color3: #667803ff;
//$color4: #420039ff;
//$color5: #241623ff;

$color0: #FDFFFCFF; //White - background
$color1: #f8c537ff;
$color2: #443226ff;
$color3: #bf4e30ff;
$color4: #004f2dff;
$color5: #0d1f22ff;
$color6: #000F08FF; //Black - Text

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}