
//
// VARIABLES
//

// https://coolors.co/ffe8a1-1c110a-ff521b-020122-e9b44c

// Colors
$color1: #ffe8a1ff;
$color2: #1c110aff;
$color3: #ff521bff;
$color4: #020122ff;
$color5: #e9b44cff;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}